body {
  font-family: roboto;
  font-size: 18px;
}
/* section one css */
.section_one {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  flex-wrap: wrap;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.header_links {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 20px;
  font-size: 20px;
}
.header_body {
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 240px;
}
.text_and_paragraph {
  width: 400px;
}
.text_and_paragraph p {
  font-size: 18 px;
}
.text_and_paragraph button {
  font-size: 16px;
  font-weight: bold;
}
a {
  color: #e5e7eb;
  text-decoration: none;
}
a:hover {
  color: red;
}
button:hover {
  color: black;
}
ul {
  list-style-type: none;
}
button {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 16px;
  border-radius: 8px;
}
#fanpage {
  font-size: 42px;
  font-weight: extra-bold;
  color: #f9faf8;
}
#logo {
  width: 350px;
}
#poster {
  height: 400px;
}

/* section two css */
.section_two {
  margin: 100px 0px;
}
.character_cards {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 20px;
  background-color: #1f2937;
}
.character_cards p {
  color: white;
  font-weight: 500;
}
#mc {
  text-align: center;
  font-family: Roboto;
  font-weight: extra-bold;
  color: #1f2937;
}
.ccimage {
  height: 300px;
}
.card {
  background-color: #1f2937;
  color: white;
  width: 300px;
  padding: 10px;
}
/* section three css */
.section_three {
  background-color: #e5e7eb;
  padding: 40px 300px;
  margin: 100px 0px;
}
.section_three p {
  font-size: 26px;
  color: #1f2937;
  font-style: italic;
}
.section_three h3 {
  font-size: 26px;
  text-align: right;
}

/* section four css */
.section_four {
  background-color: #3882f6;
  color: white;
  display: flex;
  border: 1px solid #3882f6;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
  margin: 100px 100px;
}
.section_four button {
  border-radius: 10px;
  height: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 0px;
  border: 2px solid white;
  font-size: 16px;
  color: white;
}
.section_four button:hover {
  color: black;
}
/* footer css */
.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 30px;
  font-size: 20px;
  font-weight: extra bold;
}
